.changepsswordvalidate
{
    color: red;
}
.fontsizeheading
{
    font-size: 14px;
    font-weight: 500;
}
.fontsizecontent
{
    font-size: 13px;
}
.changepsswordbtn .btn-light:hover 
{
    color: #1792E5 !important;
    background-color:#fbfbfb57 !important;
    border-color: #dae0e5 !important;
}
.changepsswordbtn
{
    float: right;
}
.changepsswordbtn .btn-light
{
    float: right;
    color: #1792E5 !important;
    background-color: #fbfbfb57 !important;
    border-color: #dae0e5 !important;
}
.resetpasswordmargin
{
    margin-top: 7.5%;     
}
.resetHeight
{
    height:372px;        
}