.font
{
font-size: 15px !important;
color: #a9a5a5 !important;
}
.fontsizeheading
{
font-size: 14px !important;
font-weight: 600 !important;
}
.fontsizecontent
{
font-size: 13px !important;
}
.border-bottom 
{
border-bottom: 2px solid #e8e6e6!important;
}