.avatarposition{
  padding: 40px 40px;
}

.fieldposition{
    padding-top: 30px;
}

.dropdownposition{
    margin-top: 10px;
}

.edituser{
    display: none;
}

.adduser{
    display: none;
}

#dc_id{
    padding-top: 0;
    float: right;
}

#comment{
    width: 100%;
    max-width: 100%;
    height: 70px;
    max-height: 70px;
    resize: none;
}
.gridData .react-grid-Empty {
    padding: 5% 0% 0% 36%;
    font-size: 16px;
}
// @media (min-width: 768px) {
//     .phoneassignmentgrid{
//         width: 610px ;
//     }
// }
@media (min-width: 768px) {
	.legalagreegrid .modal-dialog {
		width: 90%;
	}
}
@media (min-width: 768px){
.assignrid .modal-dialog {
    width: 70%;
}
}
.legalagreegrid .react-grid-Container {
    width: 100% !important;
}
.padding-left-37px {
    padding-left: 37px !important;
}
.padding-right-272px{
    padding-right: 272px;
}
@media screen and (min-width: 319px) and (max-width:414px) {
.avatarposition{
  padding: 0px 40px 0px 40px;
}
}
.phoneassignmentgrid .react-grid-Canvas{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.is-disabled{
    pointer-events: none;
}